<!-- <p>availability-new works!</p>
 <ul *ngFor="let program of availAdd?.inventoryOfPrograms">
    <li>{{program | json}}</li>
    <ul *ngFor="let entryRoomType of availAdd?.mapRoomTypeDTOClientProgram">
           <li *ngIf="program.accomClientProgamId == ">{{entryRoomType | json}}</li> 
            {{entryRoomType | json}}
    </ul>
</ul>  -->
<button (click)="showDialog()">Open Dialog</button>
<modal id="modal_1" class="hhidden" [style.display]="opened? 'block' : 'none'">
    <div class="closeModal">
        <span (click)="closeDialog()">X</span>
    </div>
    <!-- <form [formGroup]="availAddForm" (ngSubmit)="onSubmit()"> -->
        <!-- <label>
            First Name:
            <input type="text" formControlName="nom">
        </label>        
        <label>
        Last Name:
        <input type="text" formControlName="cognoms">
        </label> -->

        <span id="periodsStep" [style.display]="showPeriods? 'block' : 'none'">
            <h3>Periods (1/3)</h3>
            <form [formGroup]="periodsForm">
                <div *ngFor="let periodFrom of periodsFrom.controls; let i=index">
                        <!-- The repeated alias template -->
                    <label>
                        From:
                        <input type="date" [formControl]="periodsFrom.controls[i]">
                    </label>
                    <label>
                        To:
                        <input type="date" [formControl]="periodsTo.controls[i]">
                    </label>
                    <button type="button" (click)="deletePeriod(i)">-</button>
                </div>
            </form>
            <div class="addPeriodButton"><button type ="button" id="addPeriod" (click)="addPeriod()">Add Period</button></div>
            <div class="nextStep">
                <button type="button" id="toAvailType" (click)="changeModalStep('showAvailType')">Next</button> 
            </div>
        </span>

        <span id="availTypeStep" [style.display]="showAvailType? 'block' : 'none'">
            <h3>Availability Type (2/3)</h3>
            <form [formGroup]="availTypeForm">
                <label>
                    Availability type:
                    <select formControlName="availType">
                        <option value="global">Global</option>
                        <option value="room">By RoomType</option>
                    </select>
                </label>
            </form>
            <div class="nextStep">
                <button type="button" (click)="changeModalStep('showPeriods')">Back</button>
                <button type="button" id="toCreateAvail" (click)="changeModalStep('showCreateAvail')">Next</button>
            </div>
        </span>

        <span id="createAvailStep" [style.display]="showCreateAvail? 'block' : 'none'">       
            <form [formGroup]="createAvailForm" (ngSubmit)="onSubmit()">
                <h3>Create (3/3)</h3>
                <button type="submit" [disabled]="!createAvailForm.valid">Submit</button>
            </form>
            <div class="nextStep">
                <button type="button" (click)="changeModalStep('showAvailType')">Back</button>
            </div>
        </span>

        
    <!-- </form> -->
    
    <p>{{ periodsForm.status }} | {{this.periodsForm.value | json}}</p>
</modal>

 <!-- The Modal -->
 <!-- <div id="myModal" class="modal">
 
    Modal content 
   <div class="modal-content">
     <span class="close">&times;</span>
     <p>Some text in the Modal..</p>
   </div>
 
 </div>  -->
  

<client-program-avail></client-program-avail>
<dates-loader></dates-loader>
<request-possible-table></request-possible-table>