<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://use.typekit.net/iqa7las.css">
 <!-- <ul *ngFor="let program of availAdd?.inventoryOfPrograms">
    <li>{{program | json}}</li>
    <ul *ngFor="let entryRoomType of availAdd?.mapRoomTypeDTOClientProgram"> -->
           <!-- <li *ngIf="program.accomClientProgamId == ">{{entryRoomType | json}}</li>  -->
            <!-- {{entryRoomType | json}}
    </ul>
</ul>  -->
<div class="container-fluid">
<button class="btn btn-secondary" (click)="showDialog()">Open Dialog</button>
<modal id="modal_1" class="hhidden" [style.display]="opened? 'block' : 'none'">
    <div class="closeModal">
        <span (click)="closeDialog()">X</span>
    </div>
    <!-- <form [formGroup]="availAddForm" (ngSubmit)="onSubmit()"> -->
        <!-- <label>
            First Name:
            <input type="text" formControlName="nom">
        </label>        
        <label>
        Last Name:
        <input type="text" formControlName="cognoms">
        </label> -->
        <h1 class="typoTitleSteps tk-futura-pt-bold">Create new avail</h1>
        <div id="periodsStep" class="contentDiv" [style.display]="showPeriods? 'block' : 'none'">
            <span class="stepDescription">Set dates of new period(s) (1/3)</span>
            <form [formGroup]="periodsForm">
                <div *ngFor="let periodFrom of periodsFrom.controls; let i=index" class="row">
                        <!-- The repeated alias template -->
                    <div>
                        <input type="date" class="datepicker Year" [formControl]="periodsFrom.controls[i]">
                         To
                        <input type="date" class="datepicker Year" [formControl]="periodsTo.controls[i]">
                        <span *ngIf="i!=0" (click)="deletePeriod(i)">X Delete line</span>
                    </div>
                </div>
            </form>
            <div class="addPeriodButton"><span id="addPeriod" (click)="addPeriod()">&oplus; Add an additional Period</span></div>
            <div class="row nextStep">
               <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" id="toAvailType" (click)="changeModalStep('showAvailType',false)">Next</button></div>
            </div>
        </div>

        <span id="availTypeStep" [style.display]="showAvailType? 'block' : 'none'">
            <span class="stepDescription">Choose Type (2/3)</span>
            <form [formGroup]="availTypeForm">
                <!-- <label>
                    Availability type:
                    <select formControlName="availType">
                        <option value="global">Global</option>
                        <option value="room">By RoomType</option>
                    </select>
                </label> -->
                <div class="row">
                        <!-- <i class="fas fa-bed"></i> -->
                    <div (click)="setAvailType('room')" class="col-md-2 radioAvailType" [style.background-color]="availIsRoom? '#298da7' : 'white'">
                        <!-- <img src="assets/images/fontAwesomeBedIcon.png"> -->
                        <span>Room Type</span><br>availability
                    </div>
                    <div (click)="setAvailType('global')" class="col-md-2 radioAvailType" [style.background-color]="availIsGlobal? '#298da7' : 'white'">
                        <!-- <i class="bed"></i> -->
                        <span>Global</span><br> Availability
                    </div>
                </div>
            </form>
            <div class="row nextStep">
                <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" (click)="changeModalStep('showPeriods',false)">Back</button></div>
                <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" id="toCreateAvail" (click)="changeModalStep('showCreateAvail',false)">Next</button></div>
            </div>
        </span>

        <span id="chooseRoomsStep" [style.display]="showChooseRoomStep? 'block' : 'none'">
            <div class="row">
                <div *ngFor="let room of this.roomType" class="col-md-2 radioRoomType" [style.background-color]="this.roomsSelected.includes(room)? '#298da7' : 'white'">
                    <span (click)="addRoomType(room.id)">{{room.label}}</span>
                </div>
            </div>
            <div class="row nextStep">
                <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" (click)="changeModalStep('showAvailType',true)">Back</button></div>
                <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" id="toCreateAvail" (click)="changeModalStep('showCreateAvail',true)">Next</button></div>
            </div>
        </span>

        <span id="createAvailStep" [style.display]="showCreateAvail? 'block' : 'none'">       
            <form [formGroup]="createAvailForm" (ngSubmit)="onSubmit()">
                <span class="stepDescription">Create (3/3)</span>
                <!-- <span *ngIf="availTypeForm.controls.availType.value == 'room'" class="roomTypeCreate"> -->
                    <div *ngFor="let distribution of distributionTypeFormArray.controls; let i=index" class="row">
                        <div *ngIf="availTypeForm.controls.availType.value == 'room' && roomTypeClientProgramsSelected != undefined" class="col-md-12">
                            <span>{{roomTypeClientProgramsSelected[i].roomType.label}}</span>
                        </div>
                        <div class="col-md-5 createAvailSelects">
                            <div class="row">
                                <!-- <select (change)="activatedistributionTypeSelect()" formControlName="roomType">
                                    <option value="" default>Room Type</option>
                                    <option *ngFor="let room of roomType" value="{{room.id}}">{{room.label}}</option>
                                </select> -->
                                <div *ngIf="availIsRoom" class="col-md-4">
                                    <select class="distTypeSelect" [formControl]="distributionTypeFormArray.controls[i]">
                                        <option value="" default>Distribution Type</option>
                                        <option *ngFor="let program of roomTypeClientProgramsSelected[i].clientPrograms" value="{{program.clientProgramId}}">
                                            <span *ngIf="program.programType == 'private'">{{program.clientProgramName}}</span>
                                            <span *ngIf="program.programType == 'shared'">{{program.clientProgramSharedGroupName}}</span>
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="availIsGlobal" class="col-md-4">
                                    <select class="distTypeSelect" [formControl]="distributionTypeFormArray.controls[i]">
                                        <option value="" default>Distribution Type</option>
                                        <option *ngFor="let program of availAdd.inventoryOfPrograms" value="{{program.clientProgramId}}">
                                            <span *ngIf="program.programType == 'private'">{{program.clientProgramName}}</span>
                                            <span *ngIf="program.programType == 'shared'">{{program.clientProgramSharedGroupName}}</span>
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4 divAvailModeAndStockSelect">
                                    <span>Type</span>
                                    <select class="availModeSelect" (change)="checkIfModeIsStock(availModeFormArray.controls[i].value,stockFormArray.controls[i])" [formControl]="availModeFormArray.controls[i]">
                                        <option value="" default></option>
                                        <option value="freeSale"><span>F </span> <span *ngIf="availModeFormArray.controls[i].value != 'freeSale'">Free Sale</span></option>
                                        <option value="stock"><span>999 </span><span *ngIf="availModeFormArray.controls[i].value != 'stock'">Stock</span></option>
                                        <option value="flex"><span>FLEX 999 </span> <span *ngIf="availModeFormArray.controls[i].value != 'flex'">Flexible</span></option>
                                        <option value="contracted"><span>CONT 999 </span> <span *ngIf="availModeFormArray.controls[i].value != 'contracted'">Contracted</span></option>
                                        <option value="request"><span>RQ </span><span *ngIf="availModeFormArray.controls[i].value != 'request'">Request</span></option>
                                    </select>
                                </div>
                                <div class="col-md-2 divAvailModeAndStockSelect">
                                    Stock<input type="text" class="stockInput" [formControl]="stockFormArray.controls[i]">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-1">Mo<input type="checkbox" class="check"  value="monday" [formControl]="weekDaysMoFormArray.controls[i]"></div>
                                <div class="col-md-1">Tu<input type="checkbox" class="check"  value="tuesday" [formControl]="weekDaysTuFormArray.controls[i]"></div>
                                <div class="col-md-1">We<input type="checkbox" class="check"  value="wednesday" [formControl]="weekDaysWeFormArray.controls[i]"></div>
                                <div class="col-md-1">Th<input type="checkbox" class="check"  value="thursday" [formControl]="weekDaysThFormArray.controls[i]"></div>
                                <div class="col-md-1">Fr<input type="checkbox" class="check"  value="friday" [formControl]="weekDaysFrFormArray.controls[i]"></div>
                                <div class="col-md-1">Sa<input type="checkbox" class="check"  value="saturday" [formControl]="weekDaysSaFormArray.controls[i]"></div>
                                <div class="col-md-1">Su<input type="checkbox" class="check"  value="sunday" [formControl]="weekDaysSuFormArray.controls[i]"></div>
                                <div class="col-md-2">All<input type="checkbox" class="check"  value="sunday" [formControl]="allFormArray.controls[i]"></div>
                            </div>
                        </div>
                        <div class="col-md-4 constraintsArea">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">RELEASE DATE</div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2">Stay</div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 fromToLegend">From</div>
                                <div class="col-md-1">Day<input type="text" class="check" [formControl]="dayFromFormArray.controls[i]"></div>
                                <div class="col-md-1">Hour<input type="text" class="check" [formControl]="hourFromFormArray.controls[i]"></div>
                                <div class="col-md-1 fromToLegend">To</div>
                                <div class="col-md-1">Day<input type="text" class="check" [formControl]="dayToFormArray.controls[i]"></div>
                                <div class="col-md-1">Hour<input type="text" class="check" [formControl]="hourToFormArray.controls[i]"></div>
                                <div class="col-md-2 minStay">Min<br><input type="text" class="check"  value="wednesday" [formControl]="stayMinFormArray.controls[i]"></div>
                                <div class="col-md-2">Max<input type="text" class="check"  value="thursday" [formControl]="stayMaxFormArray.controls[i]"></div>
                            </div>
                        </div>
                    </div>
                <!-- </span> -->
                <!-- <span *ngIf="availTypeForm.controls.availType.value == 'global'">

                </span> -->
                <div class="row">
                    <button class="btn btn-secondary btn-sm" type="submit" [disabled]="!createAvailForm.valid">Submit</button>
                </div>
            </form>
            <div class="row nextStep">
                <div class="col-md-1"><button type="button" class="button btn btn-secondary btn-sm" (click)="changeModalStep('showAvailType',false)">Back</button></div>
            </div>
        </span>

        

    
    <!-- <p>{{ periodsForm.status }} | {{this.periodsForm.value | json}}</p> -->
</modal>
</div>