@import '~bootstrap/scss/bootstrap.scss'
    
// .modal
//     display: none 
//     position: fixed
//     z-index: 1
//     left: 0
//     top: 0
//     width: 100% 
//     height: 100% 
//     overflow: auto 
//     background-color: rgb(0,0,0) 
//     background-color: rgba(0,0,0,0.4)

// .modal-content
//     background-color: #fefefe
//     margin: 15% auto 
//     padding: 20px
//     border: 1px solid #888
//     width: 80%

// .close 
//     color: #aaa
//     float: right
//     font-size: 28px
//     font-weight: bold

// .close:hover,
// .close:focus 
//     color: black
//     text-decoration: none
//     cursor: pointer

.nextStep
    border-top: 10%
    margin-top: 8%
    padding: 2%
    border-top-style: solid
    border-top-color: blue
    border-top-width: 0.5px

.createAvailSelects
    padding-top: 15px 

.addPeriodButton
    padding: 1%
    font-family: montserrat,sans-serif
    font-weight: bold
    font-size: 14px
    color: #7e8185
    cursor: pointer

.closeModal
    font-size: 18px
    font-weight: bolder
    cursor: pointer
    margin-right: 0px
    margin-left: auto

.constraintsArea
    margin-top: -13px

.fromToLegend
    padding-top: 15px

.availModeSelect
    appearance: none
    -webkit-appearance: none
    border: 0px

.minStay
    padding-left: 10%

.check
    appearance: none
    -webkit-appearance: none
    width:25px
    height:25px
    display: inline-block
    border-radius:0px
    border:0.01px solid #555
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05)

.check:active, .check:checked:active
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1)
  
.check:checked 
    content: '\2714'
    //background-color: #9999ff
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05)

.check:checked:after
    content: '\2714'
    font-size: 30px
    position: absolute
    transform: translate(-50%,-50%)
    top: 25px
    left: 25px
    color: #2a7a0b

.distTypeSelect
    appearance: none
    -webkit-appearance: none
    border: 0px
    width: 50%

.typoTitleSteps
    font-family: montserrat,sans-serif
    font-weight: bold
    font-size: 24px
    color: #35557e

.datepicker
    height: 20px !important
    margin: 0 auto !important
    width: 100% !important
    padding: 25px !important
    font-family: montserrat, sans-serif !important
    font-size: 14px !important
    font-weight: normal !important
    background-color: lighten(#ffe9e9,40%) !important
    outline: none !important
    border: 0 !important
    border-radius: 3px !important
    color: #0a0a0a !important

.lessButton
    align-content: center
    padding: 20px

.to
    align-content: center
    padding: 25px
    font-family: montserrat, sans-serif
    font-size: 16px
    color: #7e8185

.stepDescription
    font-family: montserrat,sans-serif
    font-weight: bold
    font-size: 18px
    color: #7e8185

.radioAvailType
    width: 100%
    height: 100%
    border: 0.01px solid #777b7c
    border-radius: 3px
    cursor: pointer
    // border-bottom: 0.01px solid #555
    // border-top: 0.01px solid #555
    padding: 5px
    margin: 5px
    font-family: motserrat,sans-serif
    font-size: 24px
    font-weight: bolder
    color: #35557e

.radioRoomType
    width: 100px
    height: 100px
    border: 0.01px solid #777b7c
    border-radius: 3px
    cursor: pointer
    // border-bottom: 0.01px solid #555
    // border-top: 0.01px solid #555
    padding: 5px
    margin: 5px
    font-family: motserrat,sans-serif
    font-size: 24px
    font-weight: bolder
    color: #35557e

.bed
    background-image: "\2709"