<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://use.typekit.net/iqa7las.css">
 <!-- <ul *ngFor="let program of availAdd?.inventoryOfPrograms">
    <li>{{program | json}}</li>
    <ul *ngFor="let entryRoomType of availAdd?.mapRoomTypeDTOClientProgram"> -->
           <!-- <li *ngIf="program.accomClientProgamId == ">{{entryRoomType | json}}</li>  -->
            <!-- {{entryRoomType | json}}
    </ul>
</ul>  -->
<div class="container-fluid">
<button class="btn btn-secondary" (click)="showDialog()">Open Dialog</button>
<modal id="modal_1" class="hhidden" [style.display]="opened? 'block' : 'none'">
    <div class="closeModal">
        <span (click)="closeDialog()">X</span>
    </div>
        <h1 class="typoTitleSteps tk-futura-pt-bold">Create new avail</h1>
        <div id="periodsStep" class="contentDiv" [style.display]="showPeriods? 'block' : 'none'">
            <span class="stepDescription">Set dates of new period(s) (1/3)</span>
            <form [formGroup]="periodsForm">
                <div *ngFor="let periodFrom of periodsFrom.controls; let i=index" class="row">
                        <!-- The repeated alias template -->
                    <div>
                        <input type="date" class="datepicker Year" [formControl]="periodsFrom.controls[i]">
                         To
                        <input type="date" class="datepicker Year" [formControl]="periodsTo.controls[i]">
                        <span *ngIf="i!=0" (click)="deletePeriod(i)">X Delete line</span>
                    </div>
                </div>
            </form>
            <div class="addPeriodButton"><span id="addPeriod" (click)="addPeriod()">&oplus; Add an additional Period</span></div>
            <div class="row nextStep">
               <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" id="toAvailType" (click)="changeModalStep('showAvailType',false)" 
                [disabled]="!periodsForm.valid">Next</button></div>
            </div>
        </div>

        <span id="availTypeStep" [style.display]="showAvailType? 'block' : 'none'">
            <span class="stepDescription">Choose Type (2/3)</span>
            <form [formGroup]="availTypeForm">>
                <div class="row">>
                    <div (click)="setAvailType('room')" class="col-md-2 radioAvailType" [style.background-color]="availIsRoom? '#298da7' : 'white'">
                        <span>Room Type</span><br>availability
                    </div>
                    <div (click)="setAvailType('global')" class="col-md-2 radioAvailType" [style.background-color]="availIsGlobal? '#298da7' : 'white'">
                        <span>Global</span><br> Availability
                    </div>
                </div>
            </form>
            <div class="row nextStep">
                <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" (click)="changeModalStep('showPeriods',false)">Back</button></div>
                <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" [disabled]="!availTypeForm.valid" id="toCreateAvail" (click)="changeModalStep('showCreateAvail',false)">Next</button></div>
            </div>
        </span>

        <span id="chooseRoomsStep" [style.display]="showChooseRoomStep? 'block' : 'none'">
            <div class="row">
                <div *ngFor="let room of this.roomType" class="col-md-2 radioRoomType" [style.background-color]="this.roomsSelected.includes(room)? '#298da7' : 'white'">
                    <span (click)="addRoomType(room.id)">{{room.label}}</span>
                </div>
            </div>
            <div class="row nextStep">
                <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" (click)="changeModalStep('showAvailType',true)">Back</button></div>
                <div class="col-md-1"><button class="btn btn-secondary btn-sm" type="button" id="toCreateAvail" (click)="changeModalStep('showCreateAvail',true)">Next</button></div>
            </div>
        </span>

        <span id="createAvailStep" [style.display]="showCreateAvail? 'block' : 'none'">
            <span class="stepDescription">Create (3/3)</span>
            <span *ngIf="availTypeForm.controls.availType.value == 'global'">
                <create-avail-form [roomTypeClientProgram]="null" [availIsRoom]="availIsRoom" [availIsGlobal]="availIsGlobal" [availAdd]="availAdd" [availType]="availTypeForm.controls.availType.value"></create-avail-form>
            </span>
            <span *ngIf="availTypeForm.controls.availType.value == 'room'">
                <span *ngFor="let roomTypeClientProgram of roomTypeClientProgramsSelected">
                    <create-avail-form [roomTypeClientProgram]="roomTypeClientProgram" [availIsRoom]="availIsRoom" [availIsGlobal]="availIsGlobal" [availAdd]="availAdd" [availType]="availTypeForm.controls.availType.value"></create-avail-form>
                </span>
            </span>
            <span (click)="addNewForm()">&oplus; Add new program</span>
            <div class="row">
                <button class="btn btn-secondary btn-sm" type="submit" [disabled]="!createAvailForm.valid">Submit</button>
            </div>
            <div class="row nextStep">
                <div class="col-md-1"><button type="button" class="button btn btn-secondary btn-sm" (click)="changeModalStep('showAvailType',false); createAvail.resetCheckboxes()">Back</button></div>
            </div>
        </span>
</modal>
</div>