.sshow 
    display: block
.hhidden 
    display: none
.mmodal 
    z-index: 1000
    position: fixed
    top: 20%
    bottom: 0
    left: 10%
    //width: 80%
    //height: 1000px !important
    overflow-y: auto   
.mmodal-body 
    //background: #fff
    //margin: 40px
    padding: 20px
    border-radius: 5px
    width: 1261px
    height: 319px
    background-color: #ffffff
.mmodal-background 
    z-index: 900
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: #000
    opacity: 0.70

.Rectangle 
  width: 1299px
  height: 418px
  border-radius: 12px
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.12)
  border: solid 1px #dcdad6
  background-color: #ffffff
