
<contact-details-component
    [accomName] = 'infosHotel.accomName' 
    [accomStars] = 'infosHotel.accomStars'
    [address1] = 'infosHotel.address1'
    [address2] = 'infosHotel.address2'
    [zip] = 'infosHotel.zip'
    [city] = 'infosHotel.city'
    [faxIndicatifForDirectBooking] = 'infosHotel.faxIndicatifForDirectBooking'
    [faxForDirectBooking] = 'infosHotel.faxForDirectBooking'
    [formattedMailAddress] = 'infosHotel.formattedMailAddress' 
></contact-details-component>

<sales-conditions-component
    [salesConditions] = 'infosHotel.salesConditions'
></sales-conditions-component>

<prepayment-component
    [prePaymentConditions] = 'infosHotel.prePaymentConditions'
></prepayment-component>

<price-format-component
    [priceFormat] = 'infosHotel.priceFormat'
></price-format-component>

<miscellanous-component
    [infantMaxAgeExcluded] = 'infosHotel.infantMaxAgeExcluded' 
    [childMaxAgeExcluded] = 'infosHotel.childMaxAgeExcluded' 
    [teenagerMaxAgeExcluded] = 'infosHotel.teenagerMaxAgeExcluded' 
></miscellanous-component>

<shared-availabilities-component
    [sharedAvailList] = 'infosHotel.sharedAvailList'
></shared-availabilities-component>

<app-rooms
    [chambres] = 'infosHotel.chambres'
></app-rooms>